<body>
    <div id="logined">
        <h3 class="text-center">환영합니다!</h3>
        <h4 class="username">Username</h4>
        <div id="logout-link" class="text-right">
            <a href="/" class="text-info">logout</a>
    </div>                    
                        
</body>